body {
  font-family: "Domine", serif;
  margin: 0;
}
.full-body {
  padding: 5%;
}
.flex-display {
  display: flex;
}
.set-width {
  width: 50%;
}

.set-width img {
  width: 65%;
  padding-left: 5%;
}
.heading-border {
  border-left: 8px solid tomato;
  padding-left: 10px;
}
.heading-style {
  font-size: 3em;
}
.details-style {
  font-size: 2em;
}
.portion-color {
  color: rgb(243, 173, 80);
}

.btn-color {
  text-decoration: none;
  color: white;
  padding: 10px 40px;
  border-radius: 10px;
  font-weight: 700;
  background-image: linear-gradient(tomato, red);
}

.section-gap {
  padding-block-end: 100px;
}
.text-position {
  text-align: center;
}

.flex-card {
  color: white;
  width: 25%;
  margin: 20px;
  padding: 2%;
  text-align: justify;
  border-radius: 15px;
}
.card1 {
  background-color: #191970;
}
.card1 img {
  width: 85%;
}
.card2 {
  background-color: #2b1b17;
}
.card2 img {
  width: 85%;
}
.card3 {
  background-color: purple;
}
.card3 img {
  width: 85%;
}

input {
  margin-block-end: 20px;
  width: 80%;
}
textarea {
  width: 80%;
  height: 75%;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 50px;
}
